@import url('https://fonts.googleapis.com/css2?family=Nunito:ital&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  /* display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  color: black; */
}

.root {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  color: black;
}
